*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 187, 162);
}
#navBar{
    background-color: rgb(235, 134, 61);
    padding: 5px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navBar > i{
    background-color: rgb(217, 255, 80);
    font-size: 2rem;
    margin-left: 5px;
    border: 1px solid rgb(46, 43, 43);
    padding: 10px;
    border-radius: 50px;
}
#navBar > ul{
    list-style: none;
    display: flex;
}
#navBar > ul > li{
    color:darkred;
    padding: 8px;
    margin-left: 4px;
    font-size: 1.5rem;
    font-family: monospace;
    font-weight: bold;
    border-radius: 30px;
    transition: all .6s;
}
#navBar > ul > li:hover{
    cursor: pointer;
    background-color: rgb(133, 67, 21);
    color: rgb(184, 107, 107);
   
}
#btnSection{
    display: flex;
    position: absolute;
    top: 97px;
    right: 40px;
    width: 132px;
    height: 44px;
}
#aniDiv{
    background-color: green;
    border: 1.5px solid black;
    border-radius: 30px;
    height: 38px;
    position: absolute;
    right: 93px;
    width: 38px;
    transition: all 1s;
}
#addBtn{
    width: 125px;
    height: 40px;
    position: relative;
    left: 5px;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
}
#addBtn:hover{
    cursor: pointer;
}
#btnSection:hover > #aniDiv{
    cursor: pointer;
    right: 0px;
    width: 131px;
}
#noteSection{
    padding-left: 20px;
   display: grid;
   grid-template-columns: auto auto auto auto;
   grid-gap: 30px;
    width: 100vw;
    position: relative;
    top: 85px;
}
.notePad{
    background-color: blanchedalmond;
    position: relative;
    border: 2px solid black;
    width: 320px;
}
.note{
    width: 100%;
    height: 185px;
    text-align:left;
    padding-left: 6px;
    padding-right: 4px;
    overflow:scroll;
    overflow-x: hidden;
}
#noteSection textarea{
    background-color: transparent;
    resize: none;
    border: none;
    outline: none;
}
.hidden{
    display: none;
}
.edit{
    background-color:forestgreen;
    font-size: 1.1rem;
    position: absolute;
    right: 48px;
    top: 3px;
    border: 1px solid black;
    padding: 6px 8px; 
    border-radius: 20px;
}
.delete{
    background-color:rgb(221, 37, 74);
    font-size: 1.1rem;
    position: absolute;
    right: 5px;
    top: 3px;
    border: 1px solid black;
    padding: 6px 8px; 
    border-radius: 20px;
}

.edit:hover,.delete:hover{
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0px 5px 5px #888888,-0px -2px 5px #888888;
}

